<% layout('boilerplate') -%>
<link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
<div class="body">
        <div class="text">
            <h1>Stock<span>Tracker</span></h1>
            <hr>
            <h3>Track stocks and share your protfolio with  friends!</h2>
        </div>
</div>
