<% layout('boilerplate') -%>
<link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
<div class="body">
    <% if (error) { %>
        <h3>  <%=  error %> </h1>
    <% } %>
        <div class="text">
            <div class="title"> 
                <h1>Stock<span>Tracker</span></h1>
                <img src="assets/invest-graph.svg" alt="">
            </div>
            <h3>Track stocks and share your protfolio with  friends!</h2>
        </div>
</div>
