.body {
  overflow-x: hidden;
  background: rgb(124, 192, 255);
  min-height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-grow: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  .text {
    font-size: 30px;
    span {
      color: rgb(224, 89, 26);
    }
    .title {
      font-size: 24px;
      display: inline;
      h1 {
        margin: 0em 0.5em;
      }
      img {
        width: 5em;
      }
    }
    h3 {
      margin: 0.5em;
    }
  }
}

@media only screen and (min-width: 768px) {
  .body {
    .text {
      .title {
        font-size: 24px;
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
          margin: 0em 0.5em;
        }
        img {
          width: 5em;
        }
      }
    }
  }
}
