body {
  min-height: 100vh;
  font-family: "Poppins";
  display: grid;
  align-content: center;
  place-items: center;
  background-image: url("https://images.unsplash.com/photo-1526285759904-71d1170ed2ac?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2100&q=80");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
}
.register-local {
  color: white;
  margin: 0.5em;
  font-size: 40px;
}
input {
  padding: 0;
  margin: 0;
}
.form {
  position: relative;
  background: white;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 300px;
  margin-bottom: 1em;
}

.form-item {
  display: flex;
  flex-direction: column;
}
.form-input,
.form-button {
  font-weight: 800;
  font-size: 11px;

  letter-spacing: 1.1px;
  border: 0;
}
.form-input {
  padding: 1.5em;
  color: rgb(224, 89, 26);
}
.form-input:focus {
  outline: none;
}
.form-input::placeholder {
  opacity: 0.75;
}
.form-input:focus::placeholder {
  color: rgb(224, 89, 26);
}
.form-item:first-of-type {
  position: relative;
}
.form-item:first-of-type::after {
  content: "";
  position: aboslute;
  right: 0;
  left: 0;
  bottom: 0;
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
}
.form-item:nth-of-type(2) {
  position: relative;
}
.form-item:nth-of-type(2)::after {
  content: "";
  position: aboslute;
  right: 0;
  left: 0;
  bottom: 0;
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
}
.form-button {
  background: rgb(224, 89, 26);
  padding: 1.25em 2em;
  cursor: pointer;
  &:hover {
    background: rgba(224, 89, 26, 0.7);
  }
}
.register-google {
  margin-top: 1em;
  font-weight: bold;
  font-size: 14px;
  border-radius: 20px;
  border: 0px solid;
  background: #0f9d58;
  padding: 1.25em 2em;
  color: white;
  cursor: pointer;
  &:hover {
    background: rgba(15, 157, 88, 0.7);
  }
}
@media only screen and (min-width: 786px) {
  .form {
    flex-direction: row;
    max-width: 650px;
    border: 10px solid white;
    border-radius: 2em;
  }
  .form-item {
    flex-grow: 3;
  }
  .form-button {
    border-radius: 2em;
    outline: 0;
    margin-left: auto;
  }
  .form-item:nth-of-type(3) {
    position: relative;
  }
  .form-item:nth-of-type(3)::after {
    content: "";
    position: aboslute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 1px;
    background: rgba(0, 0, 0, 0.1);
  }
}
