body {
  background-image: url("https://images.unsplash.com/photo-1526285759904-71d1170ed2ac?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2100&q=80");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  margin: 0;
  padding: 0;
}

body .register-wrapper {
  min-height: calc(100vh - 60px);
  font-family: "Poppins";
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  place-items: center;
}

h1 {
  margin: 0;
}

.register-local {
  color: white;
  margin-bottom: 0.5em;
  font-size: 40px;
}

input {
  padding: 0;
  margin: 0;
}

.form {
  position: relative;
  background: white;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 300px;
  margin-bottom: 1em;
}

.form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-input,
.form-button {
  font-weight: 800;
  font-size: 11px;
  letter-spacing: 1.1px;
  border: 0;
}

.form-input {
  padding: 1.5em;
  color: #e0591a;
}

.form-input:focus {
  outline: none;
}

.form-input::-webkit-input-placeholder {
  opacity: 0.75;
}

.form-input:-ms-input-placeholder {
  opacity: 0.75;
}

.form-input::-ms-input-placeholder {
  opacity: 0.75;
}

.form-input::placeholder {
  opacity: 0.75;
}

.form-input:focus::-webkit-input-placeholder {
  color: #e0591a;
}

.form-input:focus:-ms-input-placeholder {
  color: #e0591a;
}

.form-input:focus::-ms-input-placeholder {
  color: #e0591a;
}

.form-input:focus::placeholder {
  color: #e0591a;
}

.form-item:first-of-type {
  position: relative;
}

.form-item:first-of-type::after {
  content: "";
  position: aboslute;
  right: 0;
  left: 0;
  bottom: 0;
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
}

.form-item:nth-of-type(2) {
  position: relative;
}

.form-item:nth-of-type(2)::after {
  content: "";
  position: aboslute;
  right: 0;
  left: 0;
  bottom: 0;
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
}

.form-button {
  background: #e0591a;
  padding: 1.25em 2em;
  cursor: pointer;
}

.form-button:hover {
  background: rgba(224, 89, 26, 0.7);
}

.register-google {
  margin-top: 1em;
  font-weight: bold;
  font-size: 14px;
  border-radius: 20px;
  -ms-grid-column-align: center;
      justify-self: center;
  border: 0px solid;
  background: #0f9d58;
  padding: 1.25em 2em;
  color: white;
  cursor: pointer;
}

.register-google:hover {
  color: #0f9d58;
  background: white;
}

@media only screen and (min-width: 786px) {
  .form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 650px;
    border: 10px solid white;
    border-radius: 2em;
  }
  .form-item {
    -webkit-box-flex: 3;
        -ms-flex-positive: 3;
            flex-grow: 3;
  }
  .form-button {
    border-radius: 2em;
    outline: 0;
    margin-left: auto;
  }
  .form-item:nth-of-type(3) {
    position: relative;
  }
  .form-item:nth-of-type(3)::after {
    content: "";
    position: aboslute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 1px;
    background: rgba(0, 0, 0, 0.1);
  }
}
/*# sourceMappingURL=register.css.map */